# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macOS-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Cloning JUCE
        run: git clone --branch 6.0.7 https://github.com/juce-framework/JUCE.git

      - name: Building the Projucer
        run: |
          XCODE_PROJECT="JUCE/extras/Projucer/Builds/MacOSX/Projucer.xcodeproj"
          SDK=macosx
          SCHEME="Projucer - App"
          xcodebuild -sdk $SDK -project "$XCODE_PROJECT" -scheme "$SCHEME" -configuration Release install -jobs 8

      - name: Creating JuceActions Xcode project
        run: |
          PROJUCER_PATH="JUCE/extras/Projucer/Builds/MacOSX/Build/Release/Projucer.app/Contents/MacOS/Projucer"
          PROJUCER_PROJECT_PATH="JuceActions.jucer"
          ./$PROJUCER_PATH --resave $PROJUCER_PROJECT_PATH 
        
      - name: Building JuceActions
        run: |
          XCODE_PROJECT="JuceActions/Builds/MacOSX/JuceActions.xcodeproj"
          SCHEME="JuceActions - App"
          BUILD_PATH="JuceActions/Builds/MacOSX/build/Release"
          BUILD_DESTINATION="$BUILD_PATH/JuceActions.xcarchive"
          xcodebuild -sdk $SDK -project "$XCODE_PROJECT" -scheme "$SCHEME" -configuration Release archive -archivePath "$BUILD_DESTINATION" -jobs 8

      - name: Copying app to useful location
        run: |
          if [ ! -d "$BUILD_PATH/deployment" ]; then
            mkdir $BUILD_PATH/deployment
          fi
          cp -r  $BUILD_DESTINATION/Products/Users/$USER/Applications/JuceActions.app $BUILD_PATH/deployment/JuceActions.app
          
      - uses: actions/upload-artifact@v2
        with:
          name: JuceActions
          path: $BUILD_PATH/deployment/JuceActions.app/
